In [1]:
from collections import Counter, defaultdict
import math
import numpy as np
import os
import pandas as pd
import re
from scipy.sparse import csr_matrix
import urllib.request
import zipfile

def download_data():
    """ DONE. Download and unzip data.
    """
    url = 'https://www.dropbox.com/s/h9ubx22ftdkyvd5/ml-latest-small.zip?dl=1'
    urllib.request.urlretrieve(url, 'ml-latest-small.zip')
    zfile = zipfile.ZipFile('ml-latest-small.zip')
    zfile.extractall()
    zfile.close()


def tokenize_string(my_string):
    """ DONE. You should use this in your tokenize function.
    """
    return re.findall('[\w\-]+', my_string.lower())

In [14]:
download_data()
path = 'ml-latest-small'
ratings = pd.read_csv(path + os.path.sep + 'ratings.csv')
movies = pd.read_csv(path + os.path.sep + 'movies.csv')

In [3]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [13]:
movies.sort_values('title').head(100)

,movieId,title,genres
6647,51372,"""Great Performances"" Cats (1998)",Musical
7460,74486,$9.99 (2008),Animation
8169,97757,'Hellboy': The Seeds of Creation (2004),Action|Adventure|Comedy|Documentary|Fantasy
7280,70121,'Neath the Arizona Skies (1934),Western
5821,26564,'Round Midnight (1986),Drama|Musical
5938,27751,'Salem's Lot (2004),Drama|Horror|Mystery|Thriller
643,779,'Til There Was You (1997),Drama|Romance
1632,2072,"'burbs, The (1989)",Comedy
2504,3112,'night Mother (1986),Drama
7269,69757,(500) Days of Summer (2009),Comedy|Drama|Romance
5351,8169,*batteries not included (1987),Children|Comedy|Fantasy|Sci-Fi
4720,6600,...And God Spoke (1993),Comedy
2726,3420,...And Justice for All (1979),Drama|Thriller
713,889,1-900 (06) (1994),Drama|Romance
4744,6658,10 (1979),Comedy|Romance
8980,140745,10 Attitudes (2001),Comedy|Drama|Romance
9068,152077,10 Cloverfield Lane (2016),Thriller
6575,49284,10 Items or Less (2006),Comedy|Drama|Romance
2063,2572,10 Things I Hate About You (1999),Comedy|Romance
8194,98230,10 Years (2011),Comedy|Drama|Romance
6900,58293,"10,000 BC (2008)",Adventure|Romance|Thriller
5175,7541,100 Girls (2000),Comedy|Romance
6971,59834,100 Rifles (1969),Adventure|War|Western
1108,1367,101 Dalmatians (1996),Adventure|Children|Comedy
1645,2085,101 Dalmatians (One Hundred and One Dalmatians...,Adventure|Animation|Children
4594,6344,101 Reykjavik (101 Reykjav√≠k) (2000),Comedy|Drama|Romance
3195,3991,102 Dalmatians (2000),Children|Comedy
5894,27251,"10th Kingdom, The (2000)",Adventure|Comedy|Fantasy
5233,7789,"11'09""01 - September 11 (2002)",Drama
5924,27674,11:14 (2003),Comedy|Crime|Drama|Mystery|Thriller
...,...,...,...
6693,52767,21 Up (1977),Documentary
8606,112138,22 Jump Street (2014),Action|Comedy|Crime
6421,45172,23 (23 - Nichts ist so wie es scheint) (1998),Drama|Thriller
4174,5508,24 Hour Party People (2002),Comedy|Drama|Musical
1989,2486,"24 Hour Woman, The (1998)",Comedy|Drama
7563,78729,24: Redemption (2008),Action|Adventure|Crime|Drama|Thriller
6137,33380,25 Watts (2001),Comedy|Drama
4396,5954,25th Hour (2002),Crime|Drama
6866,56949,27 Dresses (2008),Comedy|Romance
2822,3534,28 Days (2000),Drama
4671,6502,28 Days Later (2002),Action|Horror|Sci-Fi
5178,7566,28 Up (1985),Documentary
6702,53000,28 Weeks Later (2007),Horror|Sci-Fi|Thriller
8982,140749,29th and Gay (2005),Comedy
6166,33896,3 Extremes (Three... Extremes) (Saam gaang yi)...,Horror
7442,73881,3 Idiots (2009),Comedy|Drama|Romance
3721,4748,3 Ninjas (1992),Action|Children|Comedy
3722,4749,3 Ninjas Kick Back (1994),Action|Children|Comedy
3723,4750,3 Ninjas Knuckle Up (1995),Action|Children
1371,1739,3 Ninjas: High Noon On Mega Mountain (1998),Action|Children|Comedy
5375,8261,3 Women (Three Women) (1977),Drama
7333,71404,"3 Worlds of Gulliver, The (1960)",Adventure|Fantasy
8986,140757,3-Day Weekend (2008),Drama
5990,30803,3-Iron (Bin-jip) (2004),Drama|Romance
6798,55282,30 Days of Night (2007),Horror|Thriller
7859,88812,30 Minutes or Less (2011),Action|Comedy|Crime
4037,5271,30 Years to Life (2001),Comedy|Drama|Romance
6654,51662,300 (2007),Action|Fantasy|War|IMAX
3316,4159,3000 Miles to Graceland (2001),Action|Thriller
8539,109673,300: Rise of an Empire (2014),Action|Drama|War|IMAX

In [5]:
len(ratings)

100004

In [6]:
len(movies)

9125

In [8]:
def tokenize(movies):
    """
    Append a new column to the movies DataFrame with header 'tokens'.
    This will contain a list of strings, one per token, extracted
    from the 'genre' field of each movie. Use the tokenize_string method above.

    Note: you may modify the movies parameter directly; no need to make
    a new copy.
    Params:
      movies...The movies DataFrame
    Returns:
      The movies DataFrame, augmented to include a new column called 'tokens'.

    >>> movies = pd.DataFrame([[123, 'Horror|Romance'], [456, 'Sci-Fi']], columns=['movieId', 'genres'])
    >>> movies = tokenize(movies)
    >>> movies['tokens'].tolist()
    [['horror', 'romance'], ['sci-fi']]
    """
    ###TODO
    movies['tokens'] = movies['genres'].apply(lambda x: tokenize_string(x))
    return movies

In [15]:

movies = tokenize(movies)
movies.head()

,movieId,title,genres,tokens
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[adventure, animation, children, comedy, fantasy]"
1,2,Jumanji (1995),Adventure|Children|Fantasy,"[adventure, children, fantasy]"
2,3,Grumpier Old Men (1995),Comedy|Romance,"[comedy, romance]"
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,"[comedy, drama, romance]"
4,5,Father of the Bride Part II (1995),Comedy,[comedy]

In [127]:
def featurize(movies):
    """
    Append a new column to the movies DataFrame with header 'features'.
    Each row will contain a csr_matrix of shape (1, num_features). Each
    entry in this matrix will contain the tf-idf value of the term, as
    defined in class:
    tfidf(i, d) := tf(i, d) / max_k tf(k, d) * log10(N/df(i))
    where:
    i is a term
    d is a document (movie)
    tf(i, d) is the frequency of term i in document d
    max_k tf(k, d) is the maximum frequency of any term in document d
    N is the number of documents (movies)
    df(i) is the number of unique documents containing term i

    Params:
      movies...The movies DataFrame
    Returns:
      A tuple containing:
      - The movies DataFrame, which has been modified to include a column named 'features'.
      - The vocab, a dict from term to int. Make sure the vocab is sorted alphabetically as in a2 (e.g., {'aardvark': 0, 'boy': 1, ...})
    """
    ###TODO
    
    vocab = defaultdict(lambda:len(vocab))
    tokens_list = []
    #Created the vocabulary
    for tokens in movies['tokens']:
        tokens_list += tokens
    for tokens in sorted(tokens_list):
        vocab[tokens]
    N = len(movies)
    df = defaultdict(int)
    #We need to create a dictionary for each term with frequency
    for term in vocab.keys():
        for tokens in movies['tokens']:
            if term in tokens:
                df[term] += 1
    #freq of term i in document d
    tf = defaultdict(lambda:Counter())
    for i, tokens in enumerate(movies['tokens']):
        tf[i].update(tokens)
    
    features = []
    for i, tokens in enumerate(movies['tokens']):
        feature_array = np.zeros(shape = (1, len(vocab)))
        for token in tokens:
            #print(token)
            feature_array[0, vocab[token]] = tf[i][token] / tf[i].most_common(1)[0][1] * math.log10(N / df[token])
        features.append(csr_matrix(feature_array))
    movies['features'] = features
    return movies , df

In [128]:
movies_example = movies.loc[:10]

In [129]:
movies_example

,movieId,title,genres,tokens
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[adventure, animation, children, comedy, fantasy]"
1,2,Jumanji (1995),Adventure|Children|Fantasy,"[adventure, children, fantasy]"
2,3,Grumpier Old Men (1995),Comedy|Romance,"[comedy, romance]"
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,"[comedy, drama, romance]"
4,5,Father of the Bride Part II (1995),Comedy,[comedy]
5,6,Heat (1995),Action|Crime|Thriller,"[action, crime, thriller]"
6,7,Sabrina (1995),Comedy|Romance,"[comedy, romance]"
7,8,Tom and Huck (1995),Adventure|Children,"[adventure, children]"
8,9,Sudden Death (1995),Action,[action]
9,10,GoldenEye (1995),Action|Adventure|Thriller,"[action, adventure, thriller]"
10,11,"American President, The (1995)",Comedy|Drama|Romance,"[comedy, drama, romance]"

In [130]:
movies_example_V1 , df= featurize(movies_example)

C:\Users\manu sreekumar\Anaconda3\lib\site-packages\ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [124]:
movies_example_V1['features'][0].toarray()

array([[0.        , 0.43933269, 1.04139269, 0.56427143, 0.26324143,
        0.        , 0.        , 0.74036269, 0.        , 0.        ]])

In [134]:
sorted(df.items(), key = lambda x : x[1])

[('animation', 1),
 ('crime', 1),
 ('drama', 2),
 ('fantasy', 2),
 ('thriller', 2),
 ('action', 3),
 ('children', 3),
 ('adventure', 4),
 ('romance', 4),
 ('comedy', 6)]

In [132]:
vocab

defaultdict(<function __main__.featurize.<locals>.<lambda>>,
            {'action': 0,
             'adventure': 1,
             'animation': 2,
             'children': 3,
             'comedy': 4,
             'crime': 5,
             'drama': 6,
             'fantasy': 7,
             'romance': 8,
             'thriller': 9})